@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #EDEDED;
    background-color: $bg;
}

